.movies {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    padding: 1em 0;

    color: var(--white-color);
}

.movies h1 {
    font-size: 24px;
}

/* Movies title with see all button */
.movies__nav__seeAll {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2em;
}

.movies__seeAll {
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 16px;
}

/* Movies title without see all button */
.movies__page__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 7.5em 0 1em 0;
}

/* Movies List */
.movie__card {
    display: flex;

    padding: 1em;
    margin: 0.5em;

    border-radius: 8px;

    background-color: #1a1a1a;
}

.movie__info {
    padding: 0 0 0 1em;
}

.movie__list {
    padding: 0 0 0 0;
}