*{
    background-color: black;
}
.star__video{
    display: none;
}
.body{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    
}
.body__texts{
    position: absolute;
    background: rgb(246,224,30, 0.5);
    top: 30%;
    padding: 2em 1em 2em 1em;
}
.body__texts h1,h3{
    background: rgb(246,224,30, 0.0001);
}
@media only screen and (min-width: 992px){
    *{
        background-color: black;
        width: auto;
        color: white;
    }

    .star__video{
        display: flex;
        position: absolute;
        max-width: 100%;
        filter: opacity(25%);
        z-index: -1;
    }
    .body{
        display: flex;
        justify-content: center;
        background-color: transparent;
    }
    .body__texts{
        position: absolute;
        background: rgb(246,224,30, 0.5);
        padding: 7.5em 30% 7.5em 30% ;
        top: 30%;
    }
    .body__texts h1,h3{
        background: rgb(246,224,30, 0.0001);
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .body__texts h1{
        padding: 0 0 1em 0;
        font-weight: 700;
        font-size: 64px;
    }
    .body__texts h3{
        font-weight: 400;
        font-size: 21px;
        padding: 0%;
    }
}