.movies {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    padding-top: 1em;

    color: var(--white-color);
}

.movies__nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.movies h1 {
    font-size: 24px;
}

.movies__seeAll {
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 16px;
}