.characters__page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    padding: 10em 0;

    color: var(--white-color);
}

.characters__page__nav__seeAll {
    display: flex;
    justify-content: space-between;

    padding: 2em;

}

.characters__page__nav {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.characters__title {
    font-size: 24px;
}

.characters__seeAll {
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 16px;
}

.card__list {
    padding: 0;
}

.card {
    margin: 0.5em;
    border-radius: 1em;
}

.card__luke__img {
    width: 100%;
}

.card__info__luke {
    list-style-type: none;
    padding: 0 11em 0 1em;

    position: absolute;
    top: 115.5%;
}

.card h1 {
    font-size: 24px;
    padding: 0.5em 0;
}

.card__info__luke p {
    padding: 0.5em 0;
}

.card__darth__img {
    width: 100%;
}

.card__info__darth {
    list-style-type: none;
    padding: 0 12.5em 0 1em;

    position: absolute;
    top: 181.5%;
}

.card__anakin__img {
    width: 100%;
}

.card__info__anakin {
    list-style-type: none;
    padding: 0 10em 0 1em;

    position: absolute;
    top: 197.5%;
}

.card__yoda__img {
    width: 100%;
}

.card__info__yoda {
    list-style-type: none;
    padding: 0 10em 0 1em;

    position: absolute;
    top: 212.5%;
}