/* Character title independent of having see all */
.characters__title {
    font-size: 24px;
}

/* Characters title with see all */
.characters__page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    color: var(--white-color);
}

.characters__page__nav__seeAll {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2em;

}

.characters__seeAll {
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 16px;
}

/* Characters title without see all*/
.characters__page__nav {
    display: flex;
    justify-content: center;
    padding: 7.5em 0 1em 0;
}

/* Card list with Firstfive props that gives only first five chars */
.card__list {
    padding: 0 0.5em;
}

.card {
    margin: 0.5em;
    border-radius: 1em;
}

/* Luke card */
.card__luke {
    position: relative;
    max-width: 100%;
}

.card__luke__img__mobile {
    width: 100%;
    height: 490px;
    display: block;
}

.card__luke__img__tablet,
.card__darth__img__tablet,
.card__anakin__img__tablet,
.card__yoda__img__tablet {
    display: none;
}

.card__luke__img__desktop,
.card__darth__img__desktop,
.card__anakin__img__desktop,
.card__yoda__img__desktop {
    display: none;
}

.card__info__luke {
    list-style-type: none;

    padding: 0 6em 0 1em;

    position: absolute;
    top: 0%;
}

.card__luke h1 {
    font-size: 24px;
    padding: 0.5em 0;
}

.card__info__luke p {
    font-size: 14px;
    padding: 0.5em 0;
}

/* Darth card */
.card__darth {
    padding: 1em 0;

    position: relative;
    max-width: 100%;

}

.card__darth__img__mobile {
    width: 100%;
    height: auto;
    display: block;
}

.card__info__darth {
    list-style-type: none;
    padding: 0 2.5em 0 1em;

    position: absolute;
    top: 35%;
}

.card__darth h1 {
    font-size: 24px;
}

/* Anakin card */
.card__anakin {
    position: relative;
    max-width: 100%;
    padding: 0 0 1em 0;
}

.card__anakin__img__mobile {
    width: 100%;
    height: auto;
    display: block;
}

.card__info__anakin {
    list-style-type: none;
    padding: 0 2.5em 0 1em;

    position: absolute;
    top: 27.5%;
}

.card__anakin h1 {
    font-size: 24px;
}

/* Yoda card */
.card__yoda {
    position: relative;
    max-width: 100%;
    padding: 0 0 1em 0;
}

.card__yoda__img__mobile {
    width: 100%;
    height: auto;
    display: block;
}

.card__info__yoda {
    list-style-type: none;
    padding: 0 10em 0 1em;

    position: absolute;
    top: 27.5%;
}

.card__yoda h1 {
    font-size: 24px;
}

/* Card list with Firstfive props that gives only first five chars */
.card__characters__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
    border-radius: 8px;

    background-color: var(--gray-color);
}

.card__characters__title h1 {
    font-size: 24px;
}

.card__character__button {
    display: none;
}

/* Media queries */

@media only screen and (min-width: 640px) {

    .card__luke__img__mobile,
    .card__darth__img__mobile,
    .card__anakin__img__mobile,
    .card__yoda__img__mobile {
        display: none;
    }

    .card__luke__img__tablet,
    .card__darth__img__tablet,
    .card__anakin__img__tablet,
    .card__yoda__img__tablet {
        width: 100%;
        height: auto;
        display: block;
    }

    .card__luke__img__desktop,
    .card__darth__img__desktop,
    .card__anakin__img__desktop,
    .card__yoda__img__desktop {
        display: none;
    }

    .card__info__luke {
        display: flex;
        flex-direction: column;
        padding: 0 10em 0 0;
    }

    .card__info__title__luke {
        padding: 0 0.75em;
    }

    .card__info__movies__luke {
        padding: 0 0.75em;
    }

    .card__info__details__luke {
        display: flex;
        flex-direction: row;

        padding: 0.75em 0;
    }

    .card__info__secundary__luke {
        display: flex;
        flex-direction: column;

        padding: 0 0.75em;
    }



    .card__darth__img {
        height: 146px;
    }


    .card__char__info {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
    }

    .card__character__button {
        display: block;
        border: none;
        background: none;
    }

    .hide__button {
        display: none;
    }

    .hidden__char__info {
        display: flex;

        padding: 0 1em;

        border-radius: 8px;

        background-color: var(--gray-color);
    }

    .shown__char__info {
        display: flex;
        flex-direction: column;
    }

    .card__info__movies {
        padding: 1em 0 0 0;
    }

    .card__info__details {
        display: flex;
        flex-direction: row;
    }

    .card__info__secundary {
        padding: 1em 2.5em 1em 0;
    }
}

@media only screen and (min-width: 992px) {
    .characters__page {
        display: flex;
        flex-direction: column;

    }

    .card__list {
        display: flex;
        flex-direction: row;
    }

    .card__character__button :hover {
        cursor: pointer;
    }

    .card__group {
        display: flex;
        flex-direction: column;
    }

    .card__luke__img__mobile,
    .card__darth__img__mobile,
    .card__anakin__img__mobile,
    .card__yoda__img__mobile {
        display: none;
    }

    .card__luke__img__tablet,
    .card__darth__img__tablet,
    .card__anakin__img__tablet,
    .card__yoda__img__tablet {
        display: none;
    }

    .card__luke__img__desktop,
    .card__darth__img__desktop,
    .card__anakin__img__desktop,
    .card__yoda__img__desktop {
        display: block;
    }

    .card__luke {
        padding: 0 0 0 1em
    }

    .card__luke__img__desktop {
        width: 200%;
    }

    .card__anakin__img__desktop,
    .card__darth__img__desktop,
    .card__yoda__img__desktop {
        width: 111.5%;
        padding: 0 0 0 25.5em;
    }

    .card__info__anakin,
    .card__info__darth,
    .card__info__yoda {
        padding: 1.5em 0 0 30em;
    }

    .card__info__luke {
        padding: 0;
    }

    .card__info__title__luke {
        padding: 1.5em 0.75em;
    }

    .card__info__movies__luke {
        padding: 1.5em 0 0 0.75em;
    }

    .card__info__details__luke {
        flex-direction: column;
    }

    .card__info__secundary__luke {
        padding: 0.5em 0.75em;
    }
}