:root {
    --black-color: #0E0E0E;
    --white-color: #B6B6B6;
    --yellow-color: #FFEB00;
    --gray-color: #1a1a1a;
    --main-font: "Poppins", "sans-serif"

}

* {
    font-family: var(--main-font);
}

.main-container {
    background-color: var(--black-color);
}