.header {
  background-color: black;

  border: 0.15em solid #e3cf1b;

  color: white;
}
.header img {
  width: 10em;
}
.menu__icon * {
  position: absolute;
  left: 85%;
  top: 3.5%;
  color: #e3cf1b !important;
}

.nav__menu {
  display: none;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;

    background-color: black;
    
    border: 0.15em solid #e3cf1b;

    color: white;
  }
  .header img {
    width: 10em;
    padding-left: 5em;
  }
  .menu__icon{
    display: none;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    list-style-type: none;
  }
  .nav__item {
    padding: 1em 5em 1em 5em;
    color: #e3cf1b;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: large;
  }
  .nav__item :hover{
    background: #e3cf1b;
    border: 1em solid #e3cf1b ;
    border-radius: 0.5em;
  }
  a{
    text-decoration: none;
  }

}
