.characters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    padding-top: 1em;

    color: var(--white-color);
}

.characters__nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.characters h1 {
    font-size: 24px;
}

.characters__seeAll {
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 16px;
}

.card__list {
    padding: 0;
}

.card {
    padding: 1em;
    margin: 0.5em;
    border: solid 2px #1a1a1a;
    border-radius: 1em;

    background-color: #1a1a1a;
}

.card__info {
    list-style-type: none;
    padding: 0;
}